.crocodile > .crocodile {
    display: inline-block;
    width: 300px;
    height: 280px;
    background-color: red;
}

.crocodile.tail {
    background-image: url('../image/croco-body.png');
    background-size: 610px;
}

.crocodile.body {
    background-image: url('../image/croco-back.png');
    background-size: 490px;
    width: 150px;
}

.crocodile.body {
    background-position: 0 0;
}

.crocodile.body.stone {
    background-position: 325px; 0;
}

.crocodile.body.stones {
    background-position: 160px 0;
}

.crocodile.head {
    background-image: url('../image/croco-body.png');
    background-size: 610px;
}

.crocodile.tail.alice {
    background-position: 0 0;
}
.crocodile.head.alice {
    background-position: 305px 0;
}

.crocodile.tail.bob {
    background-position: 0 280px;
}
.crocodile.head.bob {
    background-position: 305px 280px;
}

.crocodile.tail.carol {
    background-position: 0 575px;
}
.crocodile.head.carol {
    background-position: 305px 575px;
}

.crocodile.tail.dave {
    background-position: 0 885px;
}
.crocodile.head.dave {
    background-position: 305px 885px;
}

.beautiful.animal {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 280px;
    background-color: red;
    transition: background-position 500ms;
}

.animal.air {
    background-image: url('../image/croco-air.png');
    background-size: 490px;
}

.animal.land {
    background-image: url('../image/croco-land.png');
    background-size: 645px;
}

.animal.water {
    background-image: url('../image/croco-water.png');
    background-size: 645px;
}

.crocodile.dice {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 290px;
    background-color: red;
    background-image: url('../image/croco-dice.png');
    background-size: 1800px;
}

.crocodile.dice.air {
    background-position-x: 1500px;
}

.crocodile.dice.land {
    background-position-x: 0;
}

.crocodile.dice.water {
    background-position-x: 1200px;
}

.crocodile.dice.joker {
    background-position-x: 900px;
}

.crocodile.dice.pass {
    background-position-x: 600px;
}

.crocodile.dice.steal {
    background-position-x: 300px;
}

.grid.table {
    margin-left: auto;
    margin-right: auto;
}

.grid.cell {
    text-align: center;
    vertical-align: middle;
}


.grid.content {
    display: inline-block;
    width: 75px;
    height: 140px;
    background-color: red;
}

.grid.content.rock {
    background-image: url("../image/croco-back.png");
    background-size: 245px;
}

.grid.content.rock.zero {
    background-position-x: 0;
}

.grid.content.rock.one {
    background-position-x: 165px;
}

.grid.content.rock.two {
    background-position-x: 80px;
}

.grid.content.body.air {
    background-image: url("../image/croco-air.png");
    background-size: 245px;
}

.grid.content.body.land {
    background-image: url("../image/croco-land.png");
    background-size: 330px;
}

.grid.content.body.water {
    background-image: url("../image/croco-water.png");
    background-size: 330px;
}
